/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    line-height: 1.24;
}

a {
    text-decoration: none;
    color: #d7cece;
}

.header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 90%;
    position: absolute;
    z-index: 3;
    padding: 0 2rem;
    height: 60px;
    margin-left: 4%;
}


.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* for the bigger screen sizes */
.menu-toggler {
    display: none;
}

.brand {
    font-size: 2rem;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    color: #ffffff8a;
}

.menu ul li a.active {
    color: #d7cece;
}


.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 4%;
}

.intro-content {
    margin-bottom: 3rem;
    padding-left: 1rem;
    width: 45%;
}
.menu-toggler {
    display: none;
}
.sal {
    text-transform: uppercase;
    color: #cf4343;
    font-weight: 600;
}

.public-font {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.castoro-font {
    font-family: "Castoro", serif;
    font-weight: 400;
    font-style: normal;
}

.sal-content {
    font-size: clamp(2.3rem, 4.8vw, 8rem);
    font-weight: 500;
}

.intro-btn {
    margin-top: 2rem;
}

.btn {
    padding: 12px 1.8rem;
    border: 2px solid black;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    transition-duration: .5s;
    cursor: pointer;
}

.btn:hover {
    color: black;
    background-color: #cf4343;
    border-color: #cf4343;
}

.btn-transparent {
    color: black;
    background-color: transparent;
}

.btn-transparent:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.intro-image {
    height: 100%;
    width: 52%;
    position: relative;
}

.intro-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.handles {
    position: relative;
    bottom: 4.5rem;
    display: flex;
    z-index: 2;
    margin-left: 2rem;
}

.get-my-cv {
    position: relative;
}

.get-my-cv:before {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000000;
    position: absolute;
    left: -100%;
    top: 50%;
}

.social-handles {
    position: absolute;
    right: 5%;
    bottom: -1.4rem;
    list-style: none;
    text-align: center;
    background-color: #00000056;

}

.social-handles li {
    margin: 30px 0;
    color: white;
    font-size: 19px;
    transition-duration: .4s;
    cursor: pointer;
}

.social-handles li:hover {
    color: #cf4343;
}

.social-handles li.move-next {
    margin-top: 90px;
}

.btn-round {
    border-radius: 100px;
    padding: 20px 22px;
    background-color: transparent;
    border-color: white;
}

li.move-next.btn {
    margin-bottom: 0;
}



/* About Section */
.about {
    margin: 7rem 0;
    position: relative;
    padding: 0 4% 1rem;
}

.sec-num {
    position: relative;
}

.sec-num:after {
    font-size: clamp(3rem, 4vw, 5rem);
    position: absolute;
    content: "01";
    color: #cf434362;
    top: -3rem;
    line-height: 1;
    font-size: 9.3rem;
    z-index: 1;
    font-weight: 700;
}

.sec-num h2 {
    font-size: clamp(3rem, 4vw, 5rem);
    z-index: 2;
    position: relative;
    padding-left: 20px;
}

.about-me p {
    margin-top: 4rem;
}

.about-me p:last-child {
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}

p {
    line-height: 1.5;
    font-weight: 600;
    font-size: 1rem;
    color: #0000008f;
    word-spacing: 5px;
}

.skillset {
    display: flex;
    flex-direction: row;
    width: 93%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.set-row {
    margin-top: 2rem;
}
.set-row h4 {
    border-left: 2px solid #cf4343;
    padding-left: 6px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.set-row ul{
    list-style: none;
}

.setname {
    margin: 8px 0;
}
.add-info {
    font-size: 12px;
    transform: translateY(-10px);
}


/* My works section styles */
.work {
    margin: 5rem 0;
    width: 100%;
    padding: 0 4%;
}
.my-works.sec-num:after {
    content: "02";
}

.work-image {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.w-card {
    width: 50%;
    position: relative;
}


.work-card-image {
    height: 100%;
    width: 100%;
    position: relative;
}
.work-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.w-content {
    position: absolute;
    bottom: 0;
    background-color: #cf4343;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .8s ease-in-out;
}


.w-content p.setname {
    background-color: #cf4343;
    color: #000000;
    width: 100%;
    text-align: center;
    padding: 4px 0;
}

.w-content p.add-info{
    opacity: 0;
    transition: opacity .8s ease-in-out;
    max-width: 80%;
    text-align: center;
}
.w-card:hover .w-content {
    height: 101%;
}
.w-card:hover .w-content p.setname {
    background-color: transparent;
}
.w-card:hover .w-content p.add-info {
    opacity: 1;
}


.testimonial {
    /* height: 80vh; */
    width: auto;
    background-color: rgb(235, 153, 153);
    margin: 0 4%;
}

.test-header {
    padding-top: 3rem;
    text-align: center;
}

.contact {
    background-color: #1a1a1a;
    padding: 6rem 4% 3rem;
}

.footer-wrapper {
    padding: 4rem 1rem;
    color: white;
}

.f-num {
    color: white;
}
.f-num:after {
    content: "03";
}

.foot {
    min-height: 300px;
    margin-top: 6rem;
    justify-content: space-between;
}
.foot1, .foot2 {
    display: flex;
    justify-content: space-between;
}
.foot1 > p{
    width: 50%;
    color: #ffffff7e;
    font-size: 20px;
}
.foot1 > .cn-me {
    width: 45%;
    flex-wrap: wrap;
}
.btn-large {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
}
.foot2 {
    margin-bottom: 7rem;
}
.foot-btn {
    margin-top: 4rem;
    width: 45%;
    color: white;
    border: 2px solid white;
}
.btn-brown {
    background-color: #cf4343;
    border-color: #cf4343;
}
.foot-btn:hover {
    background-color: white;
    color: black;
}

.cn-me {
    display: flex;
}
.foot ul {
    list-style: none;
}
.foot ul:last-child {
    margin-left: 2rem;
}
.cn-me li {
    line-height: 2;
    transition-duration: .5s;
}
.cn-me li a:hover {
    color: #ffffff;
}


.copyright {
    margin: 3rem auto;
    text-align: center;
    border-top: 1px solid #383636;
    padding-top: 2rem;
}
.cp {
    color: #d7cece;
    cursor: pointer;
}
